Source: xserver-xorg-video-libretech
Priority: optional
Section: x11
Maintainer: Da Xue <da@libre.computer>
Build-Depends: debhelper (>= 9)

Package: xserver-xorg-video-libretech
Architecture: all
Recommends: xserver-xorg
Description: xorg confs for Libre Computer
